.flexRowContent--main-header-desktop {
    justify-content: space-around;
    background-color: rgba(252, 6, 6, 0.65);
  }
  
  .flexRowContent--login-menu .stretchChildrenWidth {
    width: 100% !important;
  }
  
  /* brand css */
  
  .flexRowContent--image-row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .flexRowContent--image-row .stretchChildrenWidth {
    width: 100% !important;
  }