.sliderLayoutContainer {
  background-color: #212121;
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #212121;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 2px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 5px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.caretIcon{
  color: rgb(0,250,0);
 
}
.imageElement{
  border-radius: 55px;
}